.modal {
	display: flex;
	flex-direction: column;
	background-color: #1c1c21;
	border-radius: 40px;
	width: 720px;
	position: fixed;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	z-index: 1000;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.closeBtn {
	cursor: pointer;
	appearance: none;
	border: none;
	background: none;
}
